*{
  margin: 0px;
  padding: 0px;
  border: 10px;
}
body{
  text-align: center;
  background: coral;
}
div{
  width: 200PX;
  height: 200PX;
  background: red;
  padding: 20PX;
  margin: 10PX;
  display: inline-block;
  border: 2px solid yellow;
  text-align: center;
}
#caja9{
  margin: 0px 100px 20px 20px;
  background:blueviolet ;
  border: 10px dashed greenyellow;
}
#caja1{
  box-shadow: 140px 40px 50px blue;
  border-radius: 100% 100% 100% 100%;
}
#caja2{
  box-shadow: 140px 40px 50px blue;
  border-radius: 90% 30% 100% 80%;
}
#caja3{
  box-shadow: 10px 100px 90px blue;
  border-radius: 10% 30% 50% 70%;
}
#caja4{
  box-shadow: 30px 60px 80px blue;
  border-radius: 60% 80% 90% 30%;
}
#caja5{
  box-shadow: 40px 0px 10px blue;
  border-radius: 40% 0% 10% 20%;
}
#caja6{
  margin: 90px 10px 30px 50px;
  background:gold ;
  border: 10px solid yellow;
}
#caja7{
  margin: 100px 100px 20px 20px;
  background:chocolate ;
  border: 10px dashed greenyellow;
}
#caja8{
  margin: 0px 100px 20px 20px;
  background:white(226, 43, 43) ;
  border: 10px double greenyellow;
}
#caja10{
  margin: 0px 100px 20px 20px;
  background:rgb(226, 43, 43) ;
  border: 10px  green;
}
#caja10:hover{
  background: red;
  color: yellow;
  transform: scale(1.2);
  transition: 2s all ease;
}
#caja7:hover{
  background: pink;
  color: pink blue;
  transform: scale(1.2);
  transition: 2s all ease;
}